.select-day{
    width: 168px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #E8ECFE;
    text-align: center;
    color: var(--Base-base-500, #252733);
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.select-day-dark {
  background: #FFF !important;

}
@media screen and (max-width: 768px) {
    .select-day {
        width: 100.612px;
        height: 27.549px;
        flex-shrink: 0;
        font-size: 10px;
    }
}

.select-day:active{
    outline: unset !important;
}
.select-day option{
    margin: 5px 10px !important;
}

.ticket-date{
    color: var(--Primary-Purple-primary-purple-500, #5A1073);
    font-family: Urbanist;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.85px;
}
.ticket-date-2{
    color: var(--Base-base-500, #252733);
    font-family: Urbanist;
    font-size: 14px;
    font-style: meedium;
    font-weight: 500;
    line-height: normal;
}

.ticket-timeframe {
    color: var(--Base-base-500, #252733);
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ticket-month{
    color: var(--Base-base-300, #6D6E76);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Urbanist;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
}

.ticket-bottom-border {
    border-bottom: 1px solid #BBBCC0;
}

.ticket-category {
    border-radius: 28.952px;
    background: #E8ECFE;
    padding: 4px 18px;
    color: var(--Primary-Purple-primary-purple-500, #5A1073);
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 90px;
    text-align: center;
}
.ticket-category-2{
    border-radius: 18.952px;
    background: #E8ECFE;
    padding: 2px 10px;
    color: var(--Primary-Purple-primary-purple-500, #5A1073);
    font-family: Urbanist;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 70px;
    text-align: center;
}

.ticket-type {
    color: var(--Base-base-500, #252733);
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.5px;
}

.ticket-type-2{
    color: var(--Base-base-500, #252733);
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

  .navigation-wrapper {
    position: relative !important;
  }


  .book-back {
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 7.447px 0px rgba(138, 138, 138, 0.24);
    backdrop-filter: blur(74.47470092773438px);
  }

  .book-back-dark {
    background: #242526;
    border-radius: 16px;
  }