
.submit-description-text {
    color: var(--Base-base-300, #6D6E76);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: start;
}

.submit-description-text-dark {
    color: var(--Base-base-100, #BBBCC0);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: start;
}

.label-text{
    font-family: Urbanist;
    font-style: normal;
    font-weight: 600;
}

.image-upload-field-light {
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Base-base-50, #E9E9EB);
}

.image-upload-field-dark {
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Base-base-50, #242526);
}

.image-upload-light-back{
    background: var(--Base-base-50, #d4d4d8);
}

.image-upload-dark-back{
    background: var(--Base-base-50, #ffffff) !important;
}

.image-put-text-light {
    color: var(--Base-base-400, #51525C);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Urbanist;
    font-size: 9.206px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image-put-text-dark {
    color: var(--dark-torquise-dark-mode, #2FC4B2);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Urbanist;
    font-size: 9.206px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.img-select-btn{
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Urbanist;
    font-size: 10.741px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.344px; /* 142.857% */
    display: inline-flex;
    padding: 7.672px 18.413px 7.672px 12.275px;
    justify-content: center;
    align-items: center;
    border-radius: 9.206px;
}

.img-btn-light {
    border: 0.767px solid #51525C !important;
    color: var(--Base-base-400, #51525C);
}

.img-btn-dark {
    border: 0.767px solid var(--dark-torquise-dark-mode, #2FC4B2);
    color: var(--dark-torquise-dark-mode, #2FC4B2);
}